body {
    background-color: #09cae936;
}
/* search bar */
h2.header-title {
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.search-bar{
    width: 650px;
}
input#search-fild {
    padding: 15px;
}

button#button-addon2 {
    padding: 15px 25px;
}
/* error massage */
.error_hendel{
display: none;
}
.error_hendel h4{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
}
.error_massage {
    display: none;
}
.error_massage h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 400;
}
/* spinner */
#spinner{
    display: none;
}
/* phone result */
.card {
    background-color: #2e2e2e14;
    box-shadow: 1px 6px 14px #00000073;
}
/* phone details */
.phone_details {
    width: 400px;
    background: #f7c6c60a;
}

img.card-img {
    width: 315px;
}
/* phone details  */
ul li p {
    font-size: 15px;
}
